#map {
    display: block;
    height: 20em;
    width: 100%;
}

.profile-picture {
    width: 160px;
    height: 160px;
    margin-right: 1em;
    margin-bottom: 1em;
}

#footer nav ul {
    list-style: none;
    float: right;
}

#footer nav ul li {
    float: left;
}

#footer nav ul li a {
    margin-left: 1em;
    padding: 0.5em;
}

#footer > p {
    float: left;
}